.header {
  max-width: 880px;
  min-height: 119px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 935px) {
  .header {
    min-height: 84px;
  }
}
