.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background: transparent url(../../../images/svg/close-icon.svg) center/contain
    no-repeat;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: 0.2s;
}

.popup__close:hover {
  opacity: 0.6;
}

@media (max-width: 935px) {
  .popup__close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}
